<!-- Start of third page -->
<div data-role="page" id="tsPage3">
  <div data-role="header">
    <h1>Page 3</h1>
  </div><!-- /header -->
  <div role="main" class="ui-content">
    <p>Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 Page 3 </p>
    <p><a href="#tsPage1">Back to Page 1</a></p>
    <p><a href="#tsPage2">Back to Page 2</a></p>
  </div><!-- /content -->
  <div data-role="footer">
    <h4>Page Footer</h4> 
  </div><!-- /footer -->
</div><!-- /page -->
