<!-- Start of first page -->
<div data-role="page" id="tsPage1">
  <div data-role="header">
    <h1>PAGE 1 HELLO WORLD</h1>
  </div><!-- /header -->
  <div role="main" class="ui-content">
    <p>Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 Page 1 </p>
    <p>View internal page called <a href="#tsPage2">Page 2</a></p>
    <p>View internal page called <a href="#tsPage3">Page 3</a></p>
  </div><!-- /content -->
  <div data-role="footer">
    <h4>Page Footer</h4>
  </div><!-- /footer -->
</div><!-- /page -->
