<!-- Start of second page -->
<div data-role="page" id="tsPage2">
  <div data-role="header">
    <h1>PAGE 2</h1>
  </div><!-- /header -->
  <div role="main" class="ui-content">
    <p>Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 Page 2 </p>
    <p><a href="#tsPage1">Back to Page 1</a></p>
    <p><a href="#tsPage3">Page 3</a></p>
  </div><!-- /content -->
  <div data-role="footer">
    <h4>Page Footer</h4> 
  </div><!-- /footer -->
</div><!-- /page -->
